---
- hosts: all
  tasks:
  - name: Añadir linea envio de los accesos a un servidor remoto
    lineinfile:
        path: /etc/rsyslog.conf
        regexp: ' @@xx.xx.xx.xx'
        line: 'authpriv.* @@xx.xx.xx.xx:516'
        backup: yes
  
  - name: comentario antes de la linea añadida anteriormente
    lineinfile:
        path: /etc/rsyslog.conf
        regexp: '### Envio de logs de acceso'
        insertbefore: 'authpriv.* @@xx.xx.xx.xx:516'
        line: '### Envio de logs de acceso'
        backup: yes

  - name: comprobacion que esta el servicio rsyslog ejecutandose
    service:
        name=rsyslog
        state=restarted
        enabled=yes
